
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>


<p>The Camden Ridge community would like to welcome you to our neighborhood and website.</p>
<p>
    Camden Ridge is located right off of Holcomb Bridge near downtown and historic Roswell.
</p>
<p>
    Residents of our community truly enjoy living minutes away from shopping, restaurants, community festivals, activities, outdoor recreation and mass transit. Here we are a short drive from the Big Creek Greenbelt and the Chattahoochee River Recreation Area where you can have an adventure at the wildlife preserve, which is full of amenities like playgrounds and picnic areas as well as foot and bike paths. You can also kayak or canoe on the river.
</p>
<p>
    Camden Ridge is a covenant controlled neighborhood. We make the best effort to preserve and protect the property values within our community. Our goal is to maintain an aesthetically pleasing neighborhood while respecting the individual rights of homeowners. Camden Ridge is a highly social neighborhood.  It is common for neighbors to take walks with their dogs, or mingle at the homes of their neighbors.
</p>
<p>
    We always welcome volunteers here and could use more community awareness and commitment. So please, if you are a member of Camden Ridge, feel free to volunteer on the board or serve on one of our committees.
</p>
<p>
    If there is anything on your mind - comments, questions or concerns, please use the contract page to get in touch with us @Html.ActionLink("here", "Contact").
</p>

<p>
    Thank you for stopping by!
</p>
<p>
    Camden Ridge
</p>


<iframe id="mapsIframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.733069965974!2d-84.33886068433978!3d34.02506208061325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f574b4e4c1e65f%3A0xc0e0bcf5d5b629f0!2sPattingham+Dr%2C+Roswell%2C+GA+30075!5e0!3m2!1sen!2sus!4v1475281096744" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
